//設計作品頁面nav調整
.design .nav-link{
    white-space: nowrap;/* 避免連結文字換行*/
}
.design .nav-link:not(.active):hover {
    color: #0d6efd !important; /* Bootstrap 的 text-primary 顏色 */
    position: relative;
}
.design .nav-link:not(.active):hover::before {
    content: "- ";
    color: #0d6efd; /* 跟文字同色 */
}
.design .nav-item {
    min-width: 100px; /* 根據你排版調整 */
}