//首頁全新精品卡片hover樣式
.hover-card:hover .card-title,
.hover-card:hover .card-text {
  display: block !important; /* 覆蓋 .d-none 的 display: none */
}

//首頁二手良品卡片hover樣式
/* 背景圖設定 */
.bg-img {
  height: 424px; 
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
  border-top-left-radius: 1rem;  /* 與 .rounded-5 對應 */
  border-top-right-radius: 1rem;  
}
.img1{
  background-image: url('../images/PSVR01.jpg');
}
.img2{
  background-image: url('../images/PS3-01.png');
}
.img3{
  background-image: url('../images/PSC-01.jpg');
}


/* hover 時切換背景圖 */
.hover-product:hover .img1 {
  background-image: url('../images/PSVR02.png');  
}
.hover-product:hover .img2 {
  background-image: url('../images/PS3-02.png');  
}
.hover-product:hover .img3 {
  background-image: url('../images/PSC-02.jpg');  
}

/* 按鈕文字顏色變化 */
.btn-more {
  color: #212529;
  transition: color 0.3s ease;
}

.hover-product:hover .btn-more {
  color: #0d6efd;
}